
<div class="mt-4">
<form method="POST"  >
  <div class="form-group">
    <label for="search-input">Nhập từ khóa</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="nhập từ khóa cần tìm kiếm">
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>
